html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* CSS Reset pour qu'aucun navigateur n'applique de réglages préalables de mise en page */

body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: small;
}

/* Header en Flexbox */

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logom {
    padding-top: 20px;
}

.topmenu {
    display: flex;
    list-style-type: none;
}

.topmenu li {
    margin-left: 15px;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.topmenu li a {
    text-decoration: none;
    color: black;
}

.topmenu li:hover {
    border-top: solid;
    border-color: #0065FC;
}

.topmenu li a:hover {
    color: #0065FC;
}
.topmenu .sub {
    color: #0065FC;
    font-weight: bold;
}

/* Accueil barre de recherche */

.intro {
    line-height: 1.6;
}

button {
    background-color: white;
}

.sbutton {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}

#city {
    border: none;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rbutton {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -5px;
}

/* Filtres */

.filters {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

h2 {
    margin-left: 5px;
    margin-right: 5px;
}

.fbutton {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 10px;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 40px;
    font-weight: bolder;
}

.filters i {
    color: #0065FC;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 40px;
    padding: 15px;
    margin-right: 10px;
}

.fa-info-circle {
    color: white;
    background-color: #0065FC;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 25px;
}

