html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* CSS Reset pour qu'aucun navigateur n'applique de réglages préalables de mise en page */

body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: small;
}

li {
    list-style-type: none;
}

/* Header en Flexbox */

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.logo-reservia {
    padding-top: 15px;
}

.top-menu {
    display: flex;
}

.top-menu li {
    margin-left: 15px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.top-menu li a {
    text-decoration: none;
    color: black;
}

.top-menu li:hover {
    border-top: solid;
    border-color: #0065FC;
}

.top-menu li a:hover {
    color: #0065FC;
}

.top-menu .subscribe {
    color: #0065FC;
    font-weight: bold;

}

/* Accueil barre de recherche */

.intro {
    line-height: 1.6;
    margin-left: 15px;
    margin-right: 15px;
}

.map-button {
    border: none;
    padding: 11px 15px 11px 15px;
    margin-right: -5px;
    color: initial;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.map-button:hover {
    color: #0065FC;
}

#city {
    border: 1px solid;
    border-color: #F2F2F2;
    padding: 10px;
    margin-top: 15px;
}

.search-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -5px;
    font-family: 'Raleway', sans-serif;
}

.search-button:hover {
    color: #F2F2F2;
}

.mobile-search {
    display: none;
}

/* Filtres */

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    margin-left: 5px;
    margin-right: 5px;
}

.filters-section {
    display: flex;
    align-items: center;
}
.filters-button {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 30px;
    font-weight: bolder;
    background-color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.filters-button:hover {
    color: white;
    background-color: #0065FC;
}

.filters i {
    color: #0065FC;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-right: 20px;
    background-color: #DEEBFF;
}

.fa-info-circle {
    color: white;
    background-color: #0065FC;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 25px;
}

.info-search {
    margin-bottom: 30px;
    margin-left: 15px;
}

/* Articles les plus populaires */

.populaire {
    width: 25%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    float: right;
    padding: 30px;
    border-radius: 20px;
    margin-right: 15px;
}

.title-populaire {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}


.article-populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-populaire article {
    width: 100%;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-color: #f2f2f2;
    box-shadow: 3px 3px 20px lightgrey;
    border-radius: 20px;
    background-color: white;
}

.img-populaire {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}


.article-populaire article a {
    width: 40%;
    height: 100%;
    float: left;
}

.text-populaire {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 100%;
}

.stars-populaire {
    margin-top: 80px;
}



/* Hébergements */


.heberge-cadre {
    background-color: #F2F2F2;
    width: 65%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 15px;
}

.hebergements {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hebergements article {
    width: 28%;
    height: 217px;
    margin: 15px 15px 15px 0px;
    border-radius: 35px;
    padding: 5px;
    border: 2px solid;
    border-color: #F2F2F2;
    box-shadow: 3px 3px 20px lightgrey;
    background-color: white;
}

.text-hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    height: 40%;
}


.img-hebergements {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.show-more {
    margin-top: 15px;
    margin-left: 15px;
}

.show-more a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}


/* Proportion, couleurs... des titres et paragraphes des articles */

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

.fa-star {
    color: #0065FC;
}

.empty {
    color: #f2f2f2;

}

/* Activités à Marseille */

.activites {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    height: auto;
}

.acti-articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    margin-top: 20px;
}

.act1 {
    width: 22%;
    height: 225px;
    box-shadow: 3px 3px 20px lightgrey;
    border-radius: 30px;
}

.act2 {
    width: 22%;
    height: 500px;
    box-shadow: 3px 3px 20px lightgrey;
    border-radius: 30px;
}

.act3 {
    width: 22%;
    height: 250px;
    box-shadow: 3px 3px 20px lightgrey;
    border-radius: 30px;
}
.act4{
    width: 22%;
    height: 200px;
    box-shadow: 3px 3px 20px lightgrey;
    border-radius: 30px;
    margin-top: 50px;
}

.act5 {
    width: 22%;
    height: 225px;
    box-shadow: 3px 3px 20px lightgrey;
    border-radius: 30px;
    margin-top: 50px;
}

.acti-articles h4 {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-top: 15px;
    margin-left: 15px;
}

.img-activites {
    object-fit: cover;
    width: 100%;
    height: 75%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.img-activites2 {
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/* Footer */


footer {
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
}

.footerr {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 15px;
    padding-top: 40px;
}


h5 {
    font-size: medium;
    line-height: 40px;
}

.footeroptions {
    text-decoration: none;
    font-size: small;
    color: black;
    line-height: 30px;
}

.footeroptions:hover {
    color: #0065FC;
}

/* Responsive Mobile */

@media all and (max-width: 812px) {
    

    header {
        display: flex;
        flex-wrap: wrap;
    }

    .subscribe {
        display: block;
        float: right;
    }

    .mobile-search {
        display: flex;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: white;
        font-weight: bold;
        background-color: #0065FC;
        border: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: -5px;
    }

    .search-button {
        display: none;
    }

    h2 {
        margin-bottom: 15px;
    }
            
    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .filters-section {
        display: flex;
        flex-wrap: wrap;   
    }

    .populaire {
        display: flex;
        width: auto;
        margin-bottom: 30px;
    }

    .title-populaire {
        margin-left: -5px;
    }
    
    .article-populaire {
        margin-left: 0px;
    }

    .heberge-cadre {
        width: 100%;
        margin-left: 0;
    }
    
    .hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hebergements article {
        width: 83%;
        margin-bottom: 0px;
    }

    .show-more {
        margin-top: 25px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1200px;
        margin-left: 15px;
    }
    .acti-articles {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 95%;
    }

    .act1, .act2, .act3, .act4, .act5 {
        width: 90%;
        height: auto;
        margin: 0px 0px 10px 0px;
    }

    .img-activites, .img-activites2 {
        height: 150px;
    }

    footer {
        width: 100%;
        height: auto;
    }

    .footerr {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
    }

    .footert {
        margin-bottom: 30px;
    }
}